<ul class="list-group" id="tweets-list">
    <li class="list-group-item"><strong id="current-trend"><%= hashtag_name %></strong>
    <% if user_signed_in? %>
        <% if !current_user.favorites.any? { |favorite| favorite.hashtag == @hashtag_name } %>
              <button id='favorite-button' type="button" class="btn btn-default btn-xs">Add as favorite</button>
        <% end %>
    <%end%>
    </li>
    <div id="tweets-div">
      <% tweets_hashtag.each do |tweet| %>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-1 col-md-1">
                <img class="img-user" src="<%= tweet.user_image_path%>"/>
              </div>
              <div class="col-sm-11 col-md-11">
                <p class="username" data-toggle="modal" data-target="@<%= tweet.username %>" data-src="<%= tweet.user_bio %>">@<%= tweet.username %></p>
                <p class="text-tweet"><%= tweet.text %></p>
              </div>
            </div>
          </li>
      <% end %>
    </div>
</ul>