<%= render 'devise/shared/navbar' %>
<%= render 'add_favorite_modal' %>
<%= render 'show_user_bio_modal' %>
<div class="container main-content">
  <div class="col-md-8">
    <%= render 'list_tweets' %>
  </div>
  <div class="col-md-3">
    <ul class="list-group" id="favorite-list">
      <li class="list-group-item"><strong>Favorites</strong></li>
      <div id="favorite-trends">
        <% @favorite_trends.each do |tp| %>
            <li class="list-group-item"><%= link_to tp.hashtag, hash: tp.hashtag %></li>
        <% end %>
      </div>
    </ul>

    <ul class="list-group" id="trending-list">
      <li class="list-group-item"><strong>Trending Topics</strong></li>
      <% @trending_topics.each do |tp| %>
          <li class="list-group-item"><%= link_to tp, hash: tp %></li>
      <% end %>
    </ul>

  </div>
</div>

<%= render 'tweet_javascript_template' %>